body {
  font-family: "Times New Roman", Times, serif;
  background-color: seashell;
}
.container {
  max-width: 650px;
  min-width: 650px;
}

.framework {
  background-color: #dde3ff;
  margin: 50px 0 auto;
  max-width: 600px;
}
