.CurrentWeather h1,
h4 {
  color: #596aca;
  text-decoration: none;
}

.CurrentWeather .todaysDegrees {
  text-align: right;
}
.CurrentWeather canvas {
  height: 50px;
  width: 50px;
  margin: -10px 2px;
}
