.Search form {
  margin: 20px 0;
  font-size: 20px;
}
.Search .searchButton {
  background-color: #596aca;
  border-radius: 5px;
  color: white;
}

.Search .searchButton:hover {
  background-color: white;
  border-radius: 5px;
  color: #596aca;
}
